{% extends "base.html" %}
{% block title %}マンガアノテーション{% endblock title %}
{% block extrahead %}
<style>
table {
margin-top: 8px;

}
body {
margin-bottom: 50px;
}
</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	$('#locatedarea').click(function(e){
		var areaOffset = $('#locatedarea').offset();
		var offsetTop = ((e.pageY)-(areaOffset.top));
		var offsetLeft = ((e.pageX)-(areaOffset.left));

		alert('X = ' + offsetLeft + 'px, Y = ' + offsetTop + 'px');
		$('#locatedpoint').css({top:(offsetTop),left:(offsetLeft),display:'block'}).attr('title','TOP : '+(offsetTop)+'px | LEFT : '+(offsetLeft)+'px');
	});
});
</script>
{% endblock %}
{% block content %}
<h1 class="page-header">マンガのアノテーション</h1>
<div align="center">
  <b>{{ use_form.flag.label }}: </b>
  {% for i in use_form.flag %}
  {{ i }}
  {% endfor %}<br>
  {{ utter_form.label }}
  {{ utter_form }}<br>
  <b>{{ speaker_form.bubble.label}}: </b>
  {% for i in speaker_form.bubble %}
  {{ i }}
  {% endfor %}<br>
  <b>{{ posi_form.flag.label }}: </b>
  {% for i in posi_form.flag %}
  {{ i }}
  {% endfor %}<br>
  
</div>
<div align="center">
  {% load static %}
  <img src="{% static 'img/test.png' %}"} id="locatedarea" border="5">
</div><!--/#locatedarea-->
{% endblock content %}
