{% extends "base.html" %}
{% block title %}マンガアノテーション{% endblock title %}
{% block extrahead %}
<style>
table {
margin-top: 8px;

}
body {
margin-bottom: 50px;
}
</style>
<script type="text/javascript">
  <!--//
      jQuery.noConflict();
      var j$ = jQuery;
      j$(function() {
          new Cropper.Img("image", {
              onEndCrop: function(coords, dimensions) {
                  j$("#crop_x").val(coords.x1 + ":" + coords.y1);
                  j$("#crop_y").val(coords.x2 + ":" + coords.y2);
                  j$("#crop_width").val(dimensions.width);
                  j$("#crop_height").val(dimensions.height);
              }
          });
      });
      //-->
</script>
{% endblock %}
{% block content %}
<h1 class="page-header">マンガのアノテーション</h1>
<div align="center">
  {{ utter_form.label }}
  {{ utter_form }}<br>
  <b>{{ speaker_form.bubble.label}}：</b>
  {% for i in speaker_form.bubble %}
  {{ i }}
  {% endfor %}
<center id="imageContainer">
  {% load static %}
    <img src="{% static "img/newgame.jpg" %}" alt="annotate_img" id="image" width="60%" /><br>
</center>
<div>
<div>x:<input type="text" id="crop_x" /></div>
<div>y:<input type="text" id="crop_y" /></div>
<div>w:<input type="text" id="crop_width" /></div>
<div>h:<input type="text" id="crop_height" /></div>
</div>

{% endblock content %}
