{% extends "base.html" %}
{% block title %}マンガアノテーション{% endblock title %}
{% block extrahead %}
<style>
table {
margin-top: 8px;
}
body {
margin-bottom: 50px;
}
</style>
{% endblock %}
{% block content %}
<h1 class="page-header">マンガのアノテーション 2</h1>
{% ifequal rest 0 %}
<h2 align="center">おわり</h2>
<h3 align="center">おつかれさまでした</h3>
{% else %}
<div align="center">
  {% if message %}
  <font size="14px" color="red"><b>{{ message }}</b></font>
  {% endif %}
  <form method="POST" action="">
    {% csrf_token %}
    <table class="table"><tr><td>
	  <b>{{ utter_form1.utter1.label }}: </b></td><td>
	  {{ utter_form1.utter1 }}
      </td></tr><tr><td>
	  <b>{{ utter_form2.utter2.label }}: </b></td><td>
	  {{ utter_form2.utter2 }}
      </td></tr><tr><td>
	  <b>{{ positive_form.pn.label}}: </b></td><td>
	  <div class="btn-group btn-group-s" data-toggle="buttons">
	    {% for i in positive_form.pn %}
	    <label class="btn btn-default" autocomplete="off">
	      {{ i }}
	    </label>
	    {% endfor %}
	  </div>
      </td></tr><tr><td colspan="2" align="center">
	  {% load static %}
	  {% for i in bubble_num %}
	  <input type="image" src="{% static image %}" name="regist{{ i }}" id="mycanvas">
	  {% endfor %}
    </td></tr></table>
  </form>
</div>
{% endifequal %}
{% endblock content %}
